body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 1.5px;
}

main {
  flex: 1 0 auto;
}

.special-font {
  font-family: "Lobster", cursive;
}

.btn {
  font-family: "Lobster", cursive;
  letter-spacing: 1.5px;
}
